<%- include('./partials/header.ejs') %>
<%- include('./partials/homenavbar.ejs') %>
<body>
    <div class="container">
        
        <br>
        <div class="jumbotron alert alert-secondary">
            <h2 class="display-4"><%=article.title %></h2>
        </div>
        <hr>
        <article>
            <%- article.body %>
        </article>
        <hr>
    </div>

<%- include('./partials/footer.ejs') %>
</body>
</html>

